<div class="page-content animated fadeIn" id="main-container">
  <div class="m-right-panel m-page scene_element scene_element--fadein">
		<div class="form-container">
			<div class="col-md-6 col-md-offset-3 well signin">
				<div class="back-btn">
					<%= link_to staffs_path do %>
						<span class="glyphicon glyphicon-chevron-left"></span> <p>Back</p>
					<% end %>
				</div>
				
					<br>
					<h4><i class="fa fa-users"></i> Editing Staff</h4>

					<%= simple_form_for(@staff) do |f| %>
					  <%= f.error_notification %>

					  
					    <br>
					    <div class="first-name">
					       <%= f.input :first_name, required: true, autofocus: true, label: false , placeholder: "First name (required)" %>
					    </div>
					    <div class="last-name">
					       <%= f.input :surname, required: true, label: false, placeholder: "Last name (required)" %>
					  </div>
					    <%= f.input :email, label: false, placeholder: "Email" %>
					    <%= f.input :job_title, label: false, placeholder: "Job Title" %>
					    <%= f.input :manager %>

					  <div class="new-btn">
					    <%= f.button :submit, :class => 'btn-primary btn-block btn-lg' %>
					  </div>
					<% end %>
			</div>
		</div>
	</div>
</div>		