<div class="form-container">
	<div class="col-md-6 col-md-offset-3 well signin">
		<div class="back-btn">
			<%= link_to staffs_path do %>
				<span class="glyphicon glyphicon-chevron-left"></span> <p>Back</p>
			<% end %>
		</div>
		
			<br>
			<h4><i class="fa fa-users"></i> Editing Staff</h4>

			<%= simple_form_for(@staff) do |f| %>
			  <%= f.error_notification %>
			  <% if @staff.former? %>
			    	<p><%= @staff.first_name %> <%= @staff.surname%> 
			    		<% if @staff.manager? %>
			    			(Manager)
			    		<% end %>
		    			left on <%= @staff.former_date %>.
		    		</p>

			    	<p>Job Title: <%= @staff.job_title %></p>
			    	<p>To reactivate this staff member, leave this box unchecked:</p>
			    	<%= f.input :former %>
			    <% else %>

			  
			    <br>
			    <div class="first-name">
			       <%= f.input :first_name, required: true, autofocus: true, label: false , placeholder: "First name (required)" %>
			    </div>
			    <div class="last-name">
			       <%= f.input :surname, required: true, label: false, placeholder: "Last name (required)" %>
			  </div>
			    <%= f.input :email, label: false, placeholder: "Email" %>
			    <%= f.input :job_title, label: false, placeholder: "Job Title" %>
			    <%= f.input :manager %>
			    <div id="showmenu" class="change-password-wrap"><p>Click here if <%= @staff.first_name %> has left.</p></div>
                  <div class="menu" style="display: none;">
                    <div class="change-password former-staff">
                      <h4>Former staff member:</h4>

                      	<p>(Check the box if this <%= @staff.first_name %> has left)</p>
                    	<%= f.input :former %>
			    		<%= f.input :former_date, label: "#{@staff.first_name} left on:" %>
                    </div>
                  </div>
			    <% end %>

			  <div class="new-btn">
			    <%= f.button :submit, :class => 'btn-primary btn-block btn-lg' %>
			  </div>
			<% end %>
	</div>
</div>
<script type="text/javascript">

    $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu').slideToggle("fast");
        });
    });

</script>