<% if user_signed_in? %>
  <div class="row">
    <div class="col-sm-6">
      <div class="container">
        <h1>Staff</h1>
      </div>  
    </div>
    <div class="col-sm-6">
      <div class="create-btn-container">
        <div class="new-btn">
          <%= link_to '+ Create a new staff member', new_staff_path, :class => 'waves-effect btn-large' %>
        </div>
      </div>  
    </div>
  </div>  
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well signin">
        <h4>Current Staff</h4>
       <div class="table-responsive"> 
        <table class="table table-hover">
          <thead>
            <th>Name</th>
            <th>Manager</th>
            <th>Job Title</th>
            <th>Edit</th>
          </thead>
          <tbody>
            <% @staffs.each do |staff| %>
              <% if staff.user_id == current_user.id && !staff.former %>
                <tr>
                  <td><%= staff.first_name%> <%= staff.surname %></td>
                  <td>
                    <% if staff.manager? %>
                      <i class="fa fa-key manager"></i>
                    <% else %>
                      <p>-</p>
                    <% end %>
                  </td>
                  <td>
                    <% if staff.job_title? %>
                      <%= staff.job_title %>
                    <% else %>
                      <p>-</p>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_staff_path(staff) do %>
                      <p class="task-edit"><span class="glyphicon glyphicon-pencil"></span></p>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <hr>
      <div id="showmenu" class="change-password-wrap"><p>Click here to see former staff members.</p></div>
        <div class="menu" style="display: none;">
          <h4>Former Staff</h4>
          <div class="table-responsive change-password"> 
            <table class="table table-hover">
              <thead>
                <th>Name</th>
                <th>Manager</th>
                <th>Leaving Date</th>
                <th>Job Title</th>
                <th>Edit</th>
              </thead>
              <tbody>
                <% @staffs.each do |staff| %>
                  <% if staff.user_id == current_user.id && staff.former? %>
                    <tr>
                      <td>
                        <%= staff.first_name%> <%= staff.surname %>
                      </td>
                      <td>
                        <% if staff.manager? %>
                          <i class="fa fa-key manager"></i>
                        <% else %>
                          <p>-</p>
                        <% end %>
                      </td>
                      <td>
                        <%= staff.former_date %>
                      </td>
                      <td>
                        <% if staff.job_title? %>
                          <%= staff.job_title %>
                        <% else %>
                          <p>-</p>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to edit_staff_path(staff) do %>
                          <p class="task-edit"><span class="glyphicon glyphicon-pencil"></span></p>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">

    $(document).ready(function() {
        $('#showmenu').click(function() {
                $('.menu').slideToggle("fast");
        });
    });

</script>
<% end %>

