<% if user_signed_in? %>
<div class="m-scene" id="main">
  <div class="m-page scene_element scene_element--fadeinup">
    <div class="row">
        <div class="col-sm-6">
          <div class="container">
            <h1>Staff</h1>
          </div>  
        </div>
        <div class="col-sm-6">
          <div class="create-btn-container">
            <div class="new-btn">
              <%= link_to '+ Create a new staff member', new_staff_path, :class => 'waves-effect btn-large' %>
            </div>
          </div>  
        </div>
      </div>  
      <hr>  

    <br>

    <div class="row container">
      <div class="col-sm-6">
           <% @staffs.each do |staff| %>
              <%= link_to edit_staff_path(staff) do %>
                <% if staff.user_id == current_user.id %>
                  <div class="book-index-desc task">
                    <div class="book-index-content">  
                      <div class="left">
                        <h4><%= staff.first_name %> <%= staff.surname %></h4>
                        <p><%= staff.job_title %></p>
                      </div> 
                      <div class="right">
                        <% if staff.manager %>
                          <div class="img-container">
                            <img src="http://www.minibarra.com/wp-content/uploads/2016/11/maps-and-flags.png" alt="">
                          </div>
                        <% end %>
                        <% if false %>
                          <div class="staff-pin">
                            <br>
                            <p>
                              <% if staff.first_name && staff.surname || staff.first_name && !staff.surname %>
                              <%= staff.first_name %>
                              <% else %>
                              This staff member 
                              <% end %>
                              doesn't have a PIN!
                            </p>
                          </div>
                        <% end %>
                      </div>
                      <hr>
                    </div>  
                  </div>
              <% end %>
            <% end %>
          <% end %>         
      </div>
  </div>
</div>
<% end %>