<div class="row">
  <h1>Listing invoices</h1>
  <div class="pull-right range-query">
    <%= form_tag ticks_path(:active => 'false'), method: :get do  %>
      <%= text_field_tag 'search[date_from]', @search.date_from %>
      <%= text_field_tag 'search[date_to', @search.date_to %>
      <%= submit_tag 'Search', class: 'btn search-button' %>
    <% end %>
  </div>
</div>

<div class="row container">
  <div class="well signin">
    <h4>Morning</h4>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>Check</th>
          <th>Completed?</th>
          <th>Staff</th>
          <th>Updated At</th>
          <th>Edit</th>
        </thead>
        <tbody>
          <% @ticks.each do |tick| %>
            <% if tick.task.category.name == "Check" && tick.stage == "starting" %>
              <tr>
                <td><%= tick.task.name %></td>
                <td>
                  <% if tick.complete == true %>
                    <p class="complete-true"><span class="glyphicon glyphicon-ok"></span></p>
                  <% else %>
                    <p class="complete-false"><span class="glyphicon glyphicon-remove"></span></p>
                  <% end %>
                </td>
                <td>
                  <% if tick.staff_id != 1 %>
                    <p><%= tick.staff.first_name + " " + tick.staff.surname %></p>
                  <% else %>
                    <p>-</p>
                  <% end %>
                </td>
                <td>
                  <%= tick.updated_at %>
                </td>
                <td>
                  <%= link_to edit_tick_path(tick) do %>
                    <p class="task-edit"><span class="glyphicon glyphicon-pencil"></span></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>Temperature</th>
          <th>Completed?</th>
          <th>Staff</th>
          <th>Updated At</th>
          <th>Edit</th>
        </thead>
        <tbody>
          <% @ticks.each do |tick| %>
            <% if tick.task.category.name == "Temperature" && tick.stage == "starting" %>
              <tr>
                <td><%= tick.task.name %></td>
                <td>
                  <% if tick.complete == true %>
                    <p class="complete-temperature"><%= tick.temperature %> °C</p>
                  <% else %>
                    <p class="complete-false"><span class="glyphicon glyphicon-remove"></span></p>
                  <% end %>
                </td>
                <td>
                  <% if tick.staff_id != 1 %>
                    <p><%= tick.staff.first_name + " " + tick.staff.surname %></p>
                  <% else %>
                    <p>-</p>
                  <% end %>
                </td>
                <td>
                  <%= tick.updated_at %>
                </td>
                <td>
                  <%= link_to edit_tick_path(tick) do %>
                    <p class="task-edit"><span class="glyphicon glyphicon-pencil"></span></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        
      </table>
    </div>
  </div>  
</div>
<div class="row container">
  <div class="well signin">
    <h4>Afternoon</h4>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>Check</th>
          <th>Completed?</th>
          <th>Staff</th>
          <th>Updated At</th>
          <th>Edit</th>
        </thead>
        <tbody>
          <% @ticks.each do |tick| %>
            <% if tick.task.category.name == "Check" && tick.stage == "middle" %>
              <tr>
                <td><%= tick.task.name %></td>
                <td>
                  <% if tick.complete == true %>
                    <p class="complete-true"><span class="glyphicon glyphicon-ok"></span></p>
                  <% else %>
                    <p class="complete-false"><span class="glyphicon glyphicon-remove"></span></p>
                  <% end %>
                </td>
                <td>
                  <% if tick.staff_id != 1 %>
                    <p><%= tick.staff.first_name + " " + tick.staff.surname %></p>
                  <% else %>
                    <p>-</p>
                  <% end %>
                </td>
                <td>
                  <%= tick.updated_at %>
                </td>
                <td>
                  <%= link_to edit_tick_path(tick) do %>
                    <p class="task-edit"><span class="glyphicon glyphicon-pencil"></span></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        
      </table>
    </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th>Temperature</th>
        <th>Completed?</th>
        <th>Staff</th>
        <th>Updated At</th>
        <th>Edit</th>
      </thead>
      <tbody>
        <% @ticks.each do |tick| %>
          <% if tick.task.category.name == "Temperature" && tick.stage == "middle" %>
            <tr>
              <td><%= tick.task.name %></td>
              <td>
                <% if tick.complete == true %>
                  <p class="complete-temperature"><%= tick.temperature %> °C</p>
                <% else %>
                  <p class="complete-false"><span class="glyphicon glyphicon-remove"></span></p>
                <% end %>
              </td>
              <td>
                <% if tick.staff_id != 1 %>
                  <p><%= tick.staff.first_name + " " + tick.staff.surname %></p>
                <% else %>
                  <p>-</p>
                <% end %>
              </td>
              <td>
                <%= tick.updated_at %>
              </td>
              <td>
                <%= link_to edit_tick_path(tick) do %>
                  <p class="task-edit"><span class="glyphicon glyphicon-pencil"></span></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      
    </table>
  </div>
  </div>
</div>
<div class="row container">
  <div class="well signin">
    <h4>Evening</h4>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>Check</th>
          <th>Completed?</th>
          <th>Staff</th>
          <th>Updated At</th>
          <th>Edit</th>
        </thead>
        <tbody>
          <% @ticks.each do |tick| %>
            <% if tick.task.category.name == "Check" && tick.stage == "ending" %>
              <tr>
                <td><%= tick.task.name %></td>
                <td>
                  <% if tick.complete == true %>
                    <p class="complete-true"><span class="glyphicon glyphicon-ok"></span></p>
                  <% else %>
                    <p class="complete-false"><span class="glyphicon glyphicon-remove"></span></p>
                  <% end %>
                </td>
                <td>
                  <% if tick.staff_id != 1 %>
                    <p><%= tick.staff.first_name + " " + tick.staff.surname %></p>
                  <% else %>
                    <p>-</p>
                  <% end %>
                </td>
                <td>
                  <%= tick.updated_at %>
                </td>
                <td>
                  <%= link_to edit_tick_path(tick) do %>
                    <p class="task-edit"><span class="glyphicon glyphicon-pencil"></span></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <th>Temperature</th>
          <th>Completed?</th>
          <th>Staff</th>
          <th>Updated At</th>
          <th>Edit</th>
        </thead>
        <tbody>
          <% @ticks.each do |tick| %>
            <% if tick.task.category.name == "Temperature" && tick.stage == "ending" %>
              <tr>
                <td><%= tick.task.name %></td>
                <td>
                  <% if tick.complete == true %>
                    <p class="complete-temperature"><%= tick.temperature %> °C</p>
                  <% else %>
                    <p class="complete-false"><span class="glyphicon glyphicon-remove"></span></p>
                  <% end %>
                </td>
                <td>
                  <% if tick.staff_id != 1 %>
                    <p><%= tick.staff.first_name + " " + tick.staff.surname %></p>
                  <% else %>
                    <p>-</p>
                  <% end %>
                </td>
                <td>
                  <%= tick.updated_at %>
                </td>
                <td>
                  <%= link_to edit_tick_path(tick) do %>
                    <p class="task-edit"><span class="glyphicon glyphicon-pencil"></span></p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
        
      </table>
    </div>
  </div>  
</div>
