<div class="row container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th>Task Name</th>
        <th>Completed?</th>
        <th>Staff</th>
        <th>Edit</th>
      </thead>
      <tbody>
        <% @ticks.each do |tick| %>
          <% if tick.task.category.name == "Check" %>
            <tr>
              <td><%= tick.task.name %></td>
              <td>
                <% if tick.complete == true %>
                  <p class="complete-true"><span class="glyphicon glyphicon-ok"></span></p>
                <% else %>
                  <p class="complete-false"><span class="glyphicon glyphicon-remove"></span></p>
                <% end %>
              </td>
              <td>
                <% if tick.staff_id != 1 %>
                  <p><%= tick.staff.first_name + " " + tick.staff.surname %></p>
                <% else %>
                  <p>-</p>
                <% end %>
              </td>
              <td>
                <%= link_to edit_tick_path(tick) do %>
                  <p class="task-edit"><span class="glyphicon glyphicon-pencil"></span></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      
    </table>
  </div>
</div>

  <div class="row container">
    <div class="col-sm-4">
      <h2>Checks</h2>  
        <% @ticks.each do |tick| %>

          <% if tick.task.category.name == "Check" %>

          <%= link_to edit_tick_path(tick) do %>
            <div class="book-index-desc task">
              <div class="book-index-content">
                <div class="left">
                  <h4><%= tick.task.name %></h4>
                  <p><%= tick.task.description %></p>
                  <p><%= tick.stage %></p>
                </div>
                <div class="right">
                  <div class="regularity">
                    <% if tick.task.regularity.name == "Daily" %>
                    <p class="tick-daily">.</p>
                    <% end %>
                    <% if tick.task.regularity.name == "Weekly" %>
                      <p>Weekly</p>
                    <% end %>
                    <% if tick.task.regularity.name == "Monthly" %>
                      <p>Monthly</p>
                    <% end %>
                  </div>
                  <% if tick.complete == true %>
                    <p class="complete-true">&#10003;</p>
                  <% else %>
                    <p class="complete-false">&#x2716;</p>
                  <% end %>
                </div>
                <hr>
                </div>  
              </div>   
            <% end %>
          <% end %>

        <% end %>
    </div>

    <div class="col-sm-4">
      <h2>Temperatures</h2>  
        <% @ticks.each do |tick| %>
          <% if tick.task.category.name == "Temperature" %>
            <%= link_to edit_tick_path(tick) do %>
              <div class="book-index-desc task">
                <div class="book-index-content">
                  <div class="left">
                    <h4><%= tick.task.name %></h4>
                    <p><%= tick.task.description %></p>
                  </div>
                  <div class="right">
                    <div class="regularity">
                      <% if tick.task.regularity.name == "Daily" %>
                      <p class="tick-daily">.</p>
                      <% end %>
                      <% if tick.task.regularity.name == "Weekly" %>
                        <p>Weekly</p>
                      <% end %>
                      <% if tick.task.regularity.name == "Monthly" %>
                        <p>Monthly</p>
                      <% end %>
                    </div>
                    <% if tick.complete == true %>
                      <p class="complete-temperature"><%= tick.temperature %>&deg;</p>
                    <% else %>
                      <p class="complete-false">&#x2716;</p>
                    <% end %>
                  </div>
                  <hr>
                </div>  
                </div>
            <% end %>
          <% end %>
        <% end %>
    </div>

    <div class="col-sm-4">

        <% if params[:active] == "false" %>
          <h4>Check date:</h4>
          <p>[Choose date here]</p>
        <% end %>


    </div>
  </div>