<% if !params[:stage] || params[:stage] == "Morning" %>
    <div class="col-sm-4">
      <h1>Temperatures</h1>
         <% @ticks.each do |tick| %>
          <% if tick.task.category.name == "Temperature" 
                && tick.date.strftime('%Y-%m-%d') == Date.current.strftime('%Y-%m-%d') 
                && tick.task.regularity.name == "Daily" 
                && tick.user_id == current_user.id %>
            <% if tick.stage == "starting" %>
              <%= link_to edit_tick_path(tick) do %>
                <div class="book-index-desc task">
                  <div class="book-index-content">
                    <div class="left">
                      <h4>
                        <%= tick.task.name %>
                        <% if tick.note? %>
                          <i class="fa fa-sticky-note note"></i>
                        <% end %>
                      </h4>
                      <p><%= tick.task.description %></p>
                    </div>
                <div class="right">
                  <div class="regularity"></div>
                  <p class="tick-daily" style="color: white;">.</p>
                  <% if tick.complete %>
                    <p class="complete-temperature"><%= tick.temperature %>&deg;C</p>
                  <% else %>
                    <p class="complete-false">&#x2716;</p>
                  <% end %>

                </div>
                    <hr>
                    </div>  
                  </div>   
                <% end %>

            <% end %>    
          <% end %>
        <% end %>
        <br>
        <h4>Past Due</h4>
        <% @ticks.each do |tick| %>
          <% if tick.date != Date.today 
                && tick.date < Date.today %>
            <% if tick.task.category.name == "Temperature" 
                  && tick.task.regularity.name == "Daily" 
                  && tick.user_id == current_user.id 
                  && tick.active == true %>
              <% if tick.stage == "starting" %>
                  <%= link_to edit_tick_path(tick) do %>
                    <div class="tick-past-due-index-desc task">
                      <div class="tick-past-due-index-content">
                        <div class="left">
                          <h4><%= tick.task.name %></h4>
                          <p>
                            <% if tick.date == Date.today - 1 %>
                              (Due <strong>yesterday</strong>) 
                            <% else %>
                              (Due on <strong><%= tick.date.strftime("%b #{tick.date.day.ordinalize} %Y") %></strong>)
                            <% end %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
              <% end %>    
            <% end %>
          <% end %>
        <% end %>

    </div>
<% end %>

<% if params[:stage] == "Afternoon" %>
    <div class="col-sm-4">
      <h1>Temperatures</h1>
         <% @ticks.each do |tick| %>
          <% if tick.task.category.name == "Temperature" 
                && tick.date.strftime('%Y-%m-%d') == Date.current.strftime('%Y-%m-%d') 
                && tick.task.regularity.name == "Daily" 
                && tick.user_id == current_user.id %>
            <% if tick.stage == "middle" %>
              <%= link_to edit_tick_path(tick) do %>
                <div class="book-index-desc task">
                  <div class="book-index-content">
                    <div class="left">
                      <h4>
                        <%= tick.task.name %>
                        <% if tick.note? %>
                          <i class="fa fa-sticky-note note"></i>
                        <% end %>
                      </h4>
                      <p><%= tick.task.description %></p>
                    </div>
                <div class="right">
                  <div class="regularity"></div>
                   <p class="tick-daily" style="color: white;">.</p>
                  <% if tick.complete %>
                    <p class="complete-temperature"><%= tick.temperature %>&deg;C</p>
                  <% else %>
                    <p class="complete-false">&#x2716;</p>
                  <% end %>

                </div>
                    <hr>
                    </div>  
              </div>   
            <% end %>

            <% end %>    
          <% end %>
        <% end %>
        <br>
        <h4>Past Due</h4>
        <% @ticks.each do |tick| %>
          <% if tick.date != Date.today 
                && tick.date < Date.today %>
            <% if tick.task.category.name == "Temperature" 
                  && tick.task.regularity.name == "Daily" 
                  && tick.user_id == current_user.id 
                  && tick.active == true %>
              <% if tick.stage == "middle" %>
                  <%= link_to edit_tick_path(tick) do %>
                    <div class="tick-past-due-index-desc task">
                      <div class="tick-past-due-index-content">
                        <div class="left">
                          <h4><%= tick.task.name %></h4>
                          <p>
                            <% if tick.date == Date.today - 1 %>
                              (Due <strong>yesterday</strong>) 
                            <% else %>
                              (Due on <strong><%= tick.date.strftime("%b #{tick.date.day.ordinalize} %Y") %></strong>)
                            <% end %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>
              <% end %>    
            <% end %>
          <% end %>
        <% end %>
    </div>
<% end %>

<% if params[:stage] == "Evening" %>
    <div class="col-sm-4">
      <h1>Temperatures</h1>
         <% @ticks.each do |tick| %>
          <% if tick.task.category.name == "Temperature" 
                && tick.date.strftime('%Y-%m-%d') == Date.current.strftime('%Y-%m-%d') 
                && tick.task.regularity.name == "Daily" 
                && tick.user_id == current_user.id %>
            <% if tick.stage == "ending" %>
              <%= link_to edit_tick_path(tick) do %>
                <div class="book-index-desc task">
                  <div class="book-index-content">
                    <div class="left">
                      <h4>
                        <%= tick.task.name %>
                        <% if tick.note? %>
                          <i class="fa fa-sticky-note note"></i>
                        <% end %>
                      </h4>
                      <p><%= tick.task.description %></p>
                    </div>
                <div class="right">
                  <div class="regularity"></div>
                  <p class="tick-daily" style="color: white;">.</p>
                  <% if tick.complete %>
                    <p class="complete-temperature"><%= tick.temperature %>&deg;C</p>
                  <% else %>
                    <p class="complete-false">&#x2716;</p>
                  <% end %>

                </div>
                    <hr>
                    </div>  
                  </div>   
                <% end %>

            <% end %>    
          <% end %>
        <% end %>
        <br>
        <h4>Past Due</h4>
        <% @ticks.each do |tick| %>
          <% if tick.date != Date.today 
                && tick.date < Date.today %> 
            <% if tick.task.category.name == "Temperature" 
                  && tick.task.regularity.name == "Daily" 
                  && tick.user_id == current_user.id 
                  && tick.active == true %>
              <% if tick.stage == "middle" %>
                  <%= link_to edit_tick_path(tick) do %>
                    <div class="tick-past-due-index-desc task">
                      <div class="tick-past-due-index-content">
                        <div class="left">
                          <h4><%= tick.task.name %></h4>
                          <p>
                            <% if tick.date == Date.today - 1 %>
                              (Due <strong>yesterday</strong>) 
                            <% else %>
                              (Due on <strong><%= tick.date.strftime("%b #{tick.date.day.ordinalize} %Y") %></strong>)
                            <% end %>
                          </p>
                        </div>
                      </div>
                    </div>
                  <% end %>  
              <% end %>    
            <% end %>
          <% end %>
        <% end %>
    </div>
<% end %>