<div class="container">
	<br>
	<br>
	<br>
</div>
<div class="col-md-6 col-md-offset-3">
	<div class="new-book-form">
		<h1>Editing <%= @tick.task.name %></h1>


		<%= simple_form_for(@tick) do |f| %>


			



			    <%= f.label :complete, :class => 'checkbox' do %>
      				<%= f.check_box :complete,as: :boolean, checked_value: true, unchecked_value: false %>
      				
      					<i class="icon-"></i>

   				<% end %>





			 <div class="form-material">
			 	<% if @tick.task.category.name == "Check" %>
					<div style="display: none;">
				<% else %>
					<div>
			 	<% end %>
			 			<%= f.input :temperature, autofocus: true %>
			 </div>

			<div class="field">
				<%= select_tag(:staff_id, options_for_select(@staffs), :prompt => "Select a staff") %>
			</div>
			 </div>

			  <div class="new-btn">
			  	<%= f.button :submit, "Update #{@tick.task.category.name}" , name: :active, :class => 'waves-effect btn-large' %>
			  </div>
		<% end %>

		<%= link_to 'Show', @tick %> |
		<%= link_to 'Back', ticks_path %>

	</div>
</div>

