<% if user_signed_in? %>
  <div class="row">
    <div class="col-sm-4">
      <div class="container">
        <% if params[:stage] %>
          <h1>Today</h1>
        <% else %>
          <h1>Report</h1>
          <div class="pull-right range-query">
            <%= form_tag ticks_path(:active => 'false'), method: :get do  %>
              <%-#<%= text_field_tag 'search[date_from]', @search.date_from   -%>
              <%= text_field_tag 'search[date_to', @search.date_to %>
              <%= submit_tag 'Search', class: 'btn search-button' %>
            <% end %>
          </div>
        <% end %>
      </div>  
    </div>
    <div class="col-sm-8">
      <% if !params[:stage] %>
      <% else %>
      <div class="schedule-selector">
        <div class="links btn-group"></div>
          <% if params[:stage] == "Morning" %>
           <%= link_to "Morning", ticks_path(:stage => "Morning"), class: "schedule-btn active" %>  
          <% else %>
           <%= link_to "Morning", ticks_path(:stage => "Morning"), class: "schedule-btn inactive" %>
          <% end %>

          <% if params[:stage] == "Afternoon" %>
            <%= link_to "Afternoon", ticks_path(:stage => "Afternoon"), class: "schedule-btn active" %>
          <% else %>
            <%= link_to "Afternoon", ticks_path(:stage => "Afternoon"), class: "schedule-btn inactive" %>
          <% end %>  

          <% if params[:stage] == "Evening" %>
            <%= link_to "Evening", ticks_path(:stage => "Evening"), class: "schedule-btn active" %>
          <% else %>
            <%= link_to "Evening", ticks_path(:stage => "Evening"), class: "schedule-btn inactive" %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>



  <hr>  

<% if !params[:active] && !params[:stage] %>

  <%= render 'inactive'  %>


  <% else %>

  <%= render 'active' %> 

  <% end %>
<% end %>

