


<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-sm-6">
      <div class="container">
        <% if params[:active] == "false" %>
          <h1>Reports</h1>
        <% else %>
          <h1>Today</h1>
        <% end %>
      </div>  
    </div>
    <div class="col-sm-6">
      <div class="create-btn-container">
        <div class="new-btn">
          <%= link_to '+ Create a new task', new_task_path, :class => 'waves-effect btn-large' %>
        </div>
      </div>  
    </div>
  </div>



  <hr>  

  <div class="row container">
    <div class="col-sm-5">
      <h2>Checks</h2>  
        <% @ticks.each do |tick| %>
          <% if tick.task.category.name == "Check" %>
          <%= link_to edit_tick_path(tick) do %>
            <div class="book-index-desc task">
              <div class="book-index-content">
                <div class="left">
                  <h4><%= tick.task.name %></h4>
                  <p><%= tick.task.description %></p>
                </div>
                <div class="right">
                  <div class="regularity">
                    <% if tick.task.regularity.name == "Daily" %>
                    <p class="tick-daily">.</p>
                    <% end %>
                    <% if tick.task.regularity.name == "Weekly" %>
                      <p>Weekly</p>
                    <% end %>
                    <% if tick.task.regularity.name == "Monthly" %>
                      <p>Monthly</p>
                    <% end %>
                  </div>
                  <% if tick.complete == true %>
                    <p class="complete-true">&#10003;</p>
                  <% else %>
                    <p class="complete-false">&#x2716;</p>
                  <% end %>
                </div>
                <hr>
                </div>  
              </div>   
            <% end %>
          <% end %>
        <% end %>
    </div>

    <div class="col-sm-5">
      <h2>Temperatures</h2>  
        <% @ticks.each do |tick| %>
          <% if tick.task.category.name == "Temperature" %>
            <%= link_to edit_tick_path(tick) do %>
              <div class="book-index-desc task">
                <div class="book-index-content">
                  <div class="left">
                    <h4><%= tick.task.name %></h4>
                    <p><%= tick.task.description %></p>
                  </div>
                  <div class="right">
                    <div class="regularity">
                      <% if tick.task.regularity.name == "Daily" %>
                      <p class="tick-daily">.</p>
                      <% end %>
                      <% if tick.task.regularity.name == "Weekly" %>
                        <p>Weekly</p>
                      <% end %>
                      <% if tick.task.regularity.name == "Monthly" %>
                        <p>Monthly</p>
                      <% end %>
                    </div>
                    <% if tick.complete == true %>
                      <p class="complete-temperature"><%= tick.temperature %>&deg;</p>
                    <% else %>
                      <p class="complete-false">&#x2716;</p>
                    <% end %>
                  </div>
                  <hr>
                </div>  
                </div>
            <% end %>
          <% end %>
        <% end %>
    </div>

    <div class="col-sm-2">
      <div class="container">
        <% if params[:active] == "false" %>
          <h4>Check date:</h4>
          <p>[Choose date here]</p>
        <% end %>
      </div>  

    </div>
  </div>
<% end %>



















