<% if user_signed_in? %>
  <div class="row">
    <div class="col-sm-4">
      <div class="container">
        <% if params[:active] == "false" %>
          <h1>Reports</h1>
        <% else %>
          <h1>Today</h1>
        <% end %>
      </div>  
    </div>
    <div class="col-sm-8">
      <div class="schedule-selector">
        <div class="links btn-group"></div>
          <%= link_to "Morning", ticks_path(:stage => "Morning"), class: "schedule-btn" %>
          <%= link_to "Afternoon", ticks_path(:stage => "Afternoon"), class: "schedule-btn" %>
          <%= link_to "Evening", ticks_path(:stage => "Evening"), class: "schedule-btn" %>
        </div>
      </div>
    </div>



  <hr>  

<% if params[:active] == "false" %>

  <%= render 'inactive'  %>

  <% else %>

  <%= render 'active' %> 

  <% end %>
<% end %>

