<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-sm-9">
      <div class="container">
        <h1>Today</h1>
      </div>  
    </div>
    <div class="col-sm-3">
      <div class="new-btn">
        <%= link_to '+ Create a new task', new_task_path, :class => 'waves-effect btn-large' %>
      </div>
    </div>
  </div>  
  <hr>  

  <div class="row container">
    <div class="col-sm-5">
      <h2>Checks</h2>  
        <% @ticks.each do |tick| %>
          <% if tick.task.category.name == "Check" && tick.created_at.to_date == Date.current %>
          <div class="book-index-desc">
            <div class="book-index-content">
              <div class="book-index-left">
                <h4><%= link_to tick.task.name, tick %></h4>
                <p><%= tick.task.description %></p>
                <p><%= tick.task.starting %></p>
                <p><%= tick.task.midday %></p>
                <p><%= tick.task.ending %></p>
              </div>
              <div class="book-index-right">
                <% if tick.complete == true %>
                  <p class="complete-true">&#10003;</p>
                <% else %>
                  <p class="complete-false">&#x2716;</p>
                <% end %>
              </div>
              <hr>
            </div>  
            </div>            
          <% end %>
        <% end %>
    </div>
    <div class="col-sm-5">
      <h2>Temperatures</h2>  
        <% @ticks.each do |tick| %>
          <% if tick.task.category.name == "Temperature" && tick.created_at.to_date == Date.current %>
          <div class="book-index-desc">
            <div class="book-index-content">
              <div class="book-index-left">
                <h4><%= link_to tick.task.name, edit_tick_path(tick) %></h4>
                <p><%= tick.task.description %></p>
                <p><%= tick.task.starting %></p>
                <p><%= tick.task.midday %></p>
                <p><%= tick.task.ending %></p>                  
              </div>
              <div class="book-index-right">
                <% if tick.complete == true %>
                  <p class="complete-true"><%= tick.temperature %>&deg;</p>
                <% else %>
                  <p class="complete-false">&#x2716;</p>
                <% end %>
              </div>
              <hr>
            </div>  
            </div>            
          <% end %>
        <% end %>
    </div>
  
  </div>
<% end %>