
      <%= simple_form_for(@blog) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :title %>
          <%= f.input :image_link %>
          <p><strong>Copy and paste your image with this syntax:</strong> ![](https://www.stickyourlinkhere.com/img.jpeg)</p>
          <%= f.input :lead %>
          <%= f.input :content %>
          <%= f.input :reading_time %>
          <p>This blog uses markdown syntax. <a href="https://help.github.com/articles/basic-writing-and-formatting-syntax/">Click here for a basic guide</a>.</p>
          <%= f.input :author %>
          <%= f.input :meta_desc %>
          <p>Link to <a href="http://www.hemingwayapp.com/">Hemmingway App</a></p>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Post" %>
        </div>
      <% end %>
