
    <div class="row blog">
      <div class="blog-title col-lg-12">
        <h1>The Minibarra Blog</h1>
        <p>Stay ahead of the curve with the Minibarra blog.</p>
      <!-- Blog Post Content Column -->
      </div>
      <div class="col-sm-8">
        <!-- Blog Post -->
          <% @blogs.each do |blog| %>
            <!-- Title -->
            <h2><%= link_to blog.title, blog %></h2>
            <!-- Author -->
            <p class="lead">
                
            </p>
            <hr>
            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Posted on <%= blog.created_at.strftime("%e %B %Y") %> by <%= blog.author %></p>
            <hr>

            <!-- Post Content -->
            <p>
              <%= markdown(blog.lead) %>
            </p>

            <p>
              <%= link_to "Read now", blog %>
            </p>

            <hr>
            <% if user_signed_in? && current_user.admin == true %>
              <p>
                <%= link_to 'Edit', edit_blog_path(blog) %>
              </p>
              <p>
                <%= link_to 'New Post', new_blog_path %>
              </p>
            <% end %>
          <% end %>
        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-sm-4">
          <!-- Blog Categories Well -->
          <div class="well" style="margin-top: 25vh;">
            <h4>Recent Posts</h4>
              <% @blogs.each do |blog| %>
                <p>
                  <%= link_to blog.title, blog %>, by <%= blog.author %> (<%= blog.created_at.strftime("%e %B %Y") %>)
                </p>
              <% end %>
          </div>
        <!-- /.row -->
        </div>
      </div>
    </div>
<!-- /.container -->
<p id="notice"><%= notice %></p>