<%= simple_form_for @task do |f| %>
    <div class="field">
      <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %>
    </div>

    <div class="field">
      <%= select_tag(:regularity_id, options_for_select(@regularities), :prompt => "Select a regularity") %>
    </div>

	<div class="form-material">
	    <%= f.input :name, placeholder: "Name your shit" %>
	    <%= f.input :description, placeholder: "Describe your shit" %>
      <%= f.input :opening, as: :boolean, checked_value: true, unchecked_value: false %>
	</div>    

  	<div class="new-btn">
    	<%= f.button :submit, :class => 'waves-effect btn-large' %>
  	</div>
<% end %>
