<%= simple_form_for @task do |f| %>
    <div class="field">
      <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %>
    </div>



	<div class="form-material">
	    <%= f.input :name, placeholder: "Task Name" %>
	    <%= f.input :description, placeholder: "Task description" %>
          <div class="field">
      <%= select_tag(:regularity_id, options_for_select(@regularities), :prompt => "Select a regularity") %>
    </div>
      <%= f.input :starting, as: :boolean, checked_value: true, unchecked_value: false %>
      <%= f.input :midday, as: :boolean, checked_value: true, unchecked_value: false %>
      <%= f.input :ending, as: :boolean, checked_value: true, unchecked_value: false %>
	</div>    

  	<div class="new-btn">
    	<%= f.button :submit, "Create Task", :class => 'waves-effect btn-large' %>
  	</div>
        <div class="new-btn">
      <%= f.button :submit, "Create Task and create another", :class => 'waves-effect btn-large', name: 'create_and_add' %>
    </div>
<% end %>