	<div class="container">	
		<div class="col-md-6 col-md-offset-3 well signin">
			<div class="back-btn">
				<%= link_to tasks_path do %>
					<span class="glyphicon glyphicon-chevron-left"></span> <p>Back</p>
				<% end %>
			</div>
				<h1>Edit Task</h1>
				<%= simple_form_for @task do |f| %>

				    <p>Category: <%= @task.category.name %></p>
				    <%= f.input :name %>
				    <%= f.input :description %>
	   			    <%= f.label :starting, :class => 'starting-checkbox' do %>
      					<%= f.check_box :starting,as: :boolean, checked_value: true, unchecked_value: false %>
      					<i class="icon-"></i>
   					<% end %>
	   			    <%= f.label :midday, :class => 'midday-checkbox' do %>
      					<%= f.check_box :midday,as: :boolean, checked_value: true, unchecked_value: false %>
      					<i class="icon-"></i>
   					<% end %>
					<%= f.label :ending, :class => 'ending-checkbox' do %>
      					<%= f.check_box :ending,as: :boolean, checked_value: true, unchecked_value: false %>
      					<i class="icon-"></i>
   					<% end %>   					

				  <div class="new-btn">
				    <%= f.button :submit, :class => 'btn-primary btn-block btn-lg' %>
				  </div>
				<% end %>

				

		</div>
	</div>



