	<div class="container">	
		<div class="col-md-4 col-md-offset-4 well signin">
			<div class="back-btn">
				<%= link_to ticks_path do %>
					<span class="glyphicon glyphicon-chevron-left"></span> <p>Back</p>
				<% end %>
			</div>
				<h1>Edit Task</h1>
				<%= simple_form_for @task, validate: true do |f| %>
					
					<%# LOCAL LABEL %>
				    <p>Category: <%= @task.category.name %></p>
				    <%# LOCAL TEXT BOX LABEL %>
				    <%= f.input :name %>
				    <%# LOCAL TEXT BOX LABEL %>
				    <%= f.input :description %>
				    <%# LOCAL TOGGLE SWITCH %>
	   			    <%= f.label :starting, :class => 'starting-checkbox' do %>
      					<%= f.check_box :starting,as: :boolean, checked_value: true, unchecked_value: false %>
      					<i class="icon-"></i>
   					<% end %>
   					<%# LOCAL TOGGLE SWITCH %>
	   			    <%= f.label :midday, :class => 'midday-checkbox' do %>
      					<%= f.check_box :midday,as: :boolean, checked_value: true, unchecked_value: false %>
      					<i class="icon-"></i>
   					<% end %>
   					<%# LOCAL TOGGLE SWITCH %>
					<%= f.label :ending, :class => 'ending-checkbox' do %>
      					<%= f.check_box :ending,as: :boolean, checked_value: true, unchecked_value: false %>
      					<i class="icon-"></i>
   					<% end %>   	

   					<p class="archive-task" data-toggle="modal" data-target=".bs-example-modal-sm">Archive this task</p>

				      <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
				        <div class="modal-dialog modal-sm">
				          <div class="modal-content">
				            <div class="modal-header">
				            	<h4>Archie Task <i class="fa fa-trash-o"></i></h4>
				            </div>
				            <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want archive this task?</div>
				            <p>    <%= f.check_box :archived,as: :boolean, checked_value: true, unchecked_value: false, label: "Yes, archive it. I'm done." %> Yes please</p>
				            <div class="modal-footer ">
				              <div class="new-btn">
				              <%= f.button :submit, "Delete Task", :class => 'btn-primary btn-block btn-lg' %>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>				

				  <div class="new-btn">
				  	<%# LOCAL BUTTON %>
				    <%= f.button :submit, :class => 'btn-primary btn-block btn-lg' %>
				  </div>
				<% end %>


				

		</div>
	</div>



