<% if user_signed_in? %>
  <div class="row">
    <div class="col-sm-6">
      <div class="container">
        <h1>Ticks</h1>
      </div>  
    </div>
    <div class="col-sm-6">
      <div class="create-btn-container">
        <div class="new-btn">
          <%= link_to '+ Create a new task', new_task_path, :class => 'waves-effect btn-large' %>
        </div>
      </div>  
    </div>
  </div>  
  <hr>  


  <div class="row container">
    <div class="col-sm-5">
      <h2>Checks</h2>
         <% @tasks.each do |task| %>
          <% if task.category.name == "Check" %>
            <div class="book-index-desc">
              <div class="book-index-content">  
                <h4><%= link_to task.name, edit_task_path(task), :class => "link" %></h4>
                <p><%= task.description %></p>
                <p><%= task.starting %></p>
                <p><%= task.midday %></p>
                <p><%= task.ending %></p>
                <hr>
              </div>  
            </div>            
          <% end %>
        <% end %>         
    </div>

    <div class="col-sm-5">
      <h2>Temperatures</h2>
        
        <% @tasks.each do |task| %>
          <% if task.category.name == "Temperature" %>
            <div class="book-index-desc">
              <div class="book-index-content">  
                <h4><%= link_to task.name, edit_task_path(task), :class => "link" %></h4>
                <p><%= task.description %></p>
                <p><%= task.starting %></p>
                <p><%= task.midday %></p>
                <p><%= task.ending %></p>
                <hr>
              </div>  
            </div>            
          <% end %>
        <% end %>
        
    </div>
  </div>
<% end %>  

