<!-- START PAGE HEADING -->
<div class="row white">
  <div class="col-sm-12">
    <div class="minibarra-usp">
      <!-- PAGE TITLE -->
      <h1><%= t "pages.features.title" %></h1>
      <!-- SUBTITLE -->
      <h4><%= t "pages.features.subtitle" %></h4>
    </div>
  </div>
</div>
<!-- END PAGE HEADING -->

<!-- START FEATURE SECTION 1 -->
<div class="row white">
  <div class="col-sm-4 group-title-wrap" id="group-title-one">
    <!-- GROUP TITLE (For Desktop) -->
    <h4 class="group-title">
      <%= t "pages.features.featureset1.title._top" %>
      <br>
      <%= t "pages.features.featureset1.title._bottom" %>
    </h4>
  </div>
  <div class="col-sm-6 gray" id="feature-col-one">
    <div class="feature-group feature-group-one">
      <!-- Row 1 -->
      <div class="row">
        <!-- PAGE TITLE (Responsive) -->
        <h4 class="group-title-responsive">
          <%= t "pages.features.featureset1.title._top" %>
          <br>
          <%= t "pages.features.featureset1.title._bottom" %> 
        </h4>
        <!-- Feature 1 -->
        <div class="feature">
          <h4>
            <i class="fa fa-address-card-o"></i>
            <%= t "pages.features.featureset1.feature1.title" %>
          </h4>
          <p>
            <%= t "pages.features.featureset1.feature1.desc" %>
          </p>
        </div>
        <!-- Feature 2 -->
        <div class="feature">
          <h4>
            <i class="fa fa-calendar-check-o"></i>
            <%= t "pages.features.featureset1.feature2.title" %>
          </h4>
          <p>
            <%= t "pages.features.featureset1.feature2.desc" %>
          </p>
        </div>
      </div>
      <!-- Row 2 -->
      <div class="row">
        <!-- Feature 3 -->
        <div class="feature">
          <h4>
            <i class="fa fa-sticky-note-o"></i>
            <%= t "pages.features.featureset1.feature3.title" %>
          </h4>
          <p>
            <%= t "pages.features.featureset1.feature3.desc" %>
          </p>
        </div>
        <!-- Feature 4 -->
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>
            <%= t "pages.features.featureset1.feature4.title" %>
          </h4>
          <p>
            <%= t "pages.features.featureset1.feature4.desc" %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <!-- Empty -->
  </div>
</div>
<!-- END FEATURE SECTION 1 -->

<!-- START FEATURE SECTION 2 -->
<div class="row white">
  <div class="col-sm-4 group-title-wrap" id="group-title-two">
    <!-- GROUP TITLE (Desktop) -->
    <h4 class="group-title">
      <%= t "pages.features.featureset2.title._top" %>
      <br> 
      <%= t "pages.features.featureset2.title._middle" %>
      <br>
      <%= t "pages.features.featureset2.title._bottom" %>
    </h4>
  </div>
  <div class="col-sm-6 gray" id="feature-col-two">
    <div class="feature-group feature-group-two">
      <div class="row">
        <!-- GROUP TITLE (Responsive) -->
        <h4 class="group-title-responsive">
          <%= t "pages.features.featureset2.title._top" %>
          <br>
          <%= t "pages.features.featureset2.title._middle" %>
          <br>
          <%= t "pages.features.featureset2.title._bottom" %>
        </h4>
        <!-- Feature 5 -->
        <div class="feature">
          <h4>
            <i class="fa fa-thermometer"></i>
            <%= t "pages.features.featureset2.feature1.title" %>
          </h4>
          <p>
            <%= t "pages.features.featureset2.feature1.desc" %>
          </p>
        </div>
        <!-- Feature 6 -->
        <div class="feature">
          <h4>
            <i class="fa fa-check-square-o"></i>
            <%= t "pages.features.featureset2.feature2.title" %>
          </h4>
          <p>
            <%= t "pages.features.featureset2.feature2.desc" %>
          </p>
        </div>
      </div>
      <div class="row">
        <!-- Feature 7 -->
        <div class="feature">
          <h4>
            <i class="fa fa-pencil"></i>
            <%= t "pages.features.featureset2.feature3.title" %>
          </h4>
          <p>
            <%= t "pages.features.featureset2.feature3.desc" %>
          </p>
        </div>
        <!-- Feature 8 -->
        <div class="feature">
          <h4>
            <i class="fa fa-search"></i>
            <%= t "pages.features.featureset2.feature4.title" %>
          </h4>
          <p>
            <%= t "pages.features.featureset2.feature1.desc" %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <!-- Empty -->
  </div>
</div>
<!-- END FEATURE SECTION 2 -->

<!-- START IMAGE SECTION -->
<div class="row white">
  <div class="container img-container">
    <div class="col-sm-12">
      <div class="minibarra-usp">
        <!-- Hero Image Title -->
        <h4><%= t "pages.features.hero.title" %></h4>
      </div>
      <!-- Image -->
      <div class="img-margin-top">
        <%= image_tag('/images/Minibarra-Macbook+iPhone.png') %>
      </div>
    </div>
  </div>
</div>

<!-- START FEATURE SECTION 3 -->
<div class="row white">
  <div class="col-sm-4 group-title-wrap" id="group-title-three">
    <!-- GROUP TITLE (desktop) -->
    <h4 class="group-title">
      <%= t "pages.features.featureset3.title._top" %>
      <br>
      <%= t "pages.features.featureset3.title._bottom" %>
    </h4>
  </div>
  <div class="col-sm-6 gray" id="feature-col-three">
    <div class="feature-group feature-group-three">
      <div class="row">
        <!-- GROUP TITLE (Responsive) -->
        <h4 class="group-title-responsive">
          <%= t "pages.features.featureset3.title._top" %> 
          <%= t "pages.features.featureset3.title._bottom" %>
        </h4>
        <!-- Feature 9 -->
        <div class="feature">
          <h4>
            <i class="fa fa-globe"></i>
            <%= t "pages.features.featureset3.feature1.title" %>
          </h4>
          <p>
            <%= t "pages.features.featureset3.feature1.desc" %>
          </p>
          <p>
            <span>Starting Feburary 2017</span>
          </p>          
        </div>
        <!-- Feature 10 -->
        <div class="feature">
          <h4>
            <i class="fa fa-book"></i>
            <%= t "pages.features.featureset3.feature2.title" %>
          </h4>
          <p>
            <%= t "pages.features.featureset3.feature2.desc" %>
          </p>
          <p>
            <span><%= t "pages.features.featureset3.feature2.start_date" %></span>
          </p>
        </div>
      </div>
      <div class="row">
        <!-- Feature 11 -->
        <div class="feature">
          <h4>
            <i class="fa fa-file-pdf-o"></i>
            <%= t "pages.features.featureset3.feature3.title" %>
          </h4>
          <p>
            <%= t "pages.features.featureset3.feature3.desc" %>
          </p>
          <p>
            <span><%= t "pages.features.featureset3.feature3.start_date" %></span>
          </p>
        </div>
        <!-- Feature 12 -->
        <div class="feature">
          <h4>
            <i class="fa fa-apple"></i>
            <%= t "pages.features.featureset3.feature4.title" %>
          </h4>
          <p>
            <%= t "pages.features.featureset3.feature4.desc" %>
          </p>
          <p>
            <span><%= t "pages.features.featureset3.feature4.start_date" %></span>
          </p>          
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <!-- Empty -->
  </div>
</div>
<!-- END FEATURE SECTION 3 -->

<!-- <div class="row white">
  <div class="container">
    <div class="minibarra-usp">
      <h4>Want more features, or don't like what you see?</h4>
      <p><a href="/makers/new">Join our Experience Design Program</a></p>
    </div>
  </div>
</div> -->

<!-- START CTA -->
<div class="row white">
  <div class="container">
    <div class="minibarra-usp">
      <!-- TITLE -->
      <h4><%= t "pages.features.cta.title" %></h4>
        <!-- BTN -->
        <div class="btn-container">
          <a class="btn btn-primary btn-large" href="/pricing" role="button">
            <%= t "pages.features.cta.btn" %>
          </a>
        </div>
    </div>
  </div>
</div>
<!-- END CTA -->

<!-- WORTH CALCULATOR -->
<div class="row white">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="jumbotron">
      <h4><%= t "pages.features.worth_calculator.title" %></h4>
      <br>
            <div class="worthCalculator">
                <p>
                  As a chef, I value my time at  <span class="dollarInput">£<input name="dollar" type="text" value="12">/hr</span>. My kitchen has <span class="chefInput"><input name="chef" type="text" value="3"> chefs</span> and we each spend <input type="text" name="time" value="16"> minutes a day on due dilligence.
                </p>
                <p>
                  Minibarra will save each chef <strong class="totalTime">77 hours</strong>. Combined, this will save all the chefs <strong class="totalTimeChef">231 hours</strong> (that's <strong class="totalDollar">£2772</strong> per year).
                </p>
                <p>
                  Every month, Minibarra pays for itself in <strong class="payBack">less than an day</strong>!</p>
                </p>
          </div>
    </div>
  </div>
</div>

<!-- CTA 2 -->
<div class="row white">
  <div class="container">
    <div class="minibarra-usp">
      <h4><%= t "pages.features.cta.title" %></h4>
        <div class="btn-container">
          <a class="btn btn-primary btn-large" href="/pricing" role="button"><%= t "pages.features.cta.btn" %></a>
        </div>
    </div>
  </div>
</div>
<!-- END CTA 2 -->


<script>
        // Worth CAlc
  $('.worthCalculator input').on('keyup change',function() {
    var dollar = $('input[name="dollar"]').val();
    var time = $('input[name="time"]').val();
    var chef = $('input[name="chef"]').val();
    var totalDollar = dollar * (time/60) * 6 * 51; // $savedtime, five days a week for 50 weeks a year
    var totalTime = Math.round((time * 6 * 51) / 60); // half an hour, five days a week for 50 weeks a year

    var chefDollar = chef * dollar

    var payBack = Math.round((9 / chefDollar) * 60);
    var payBack = 19 / ((chefDollar / 60) * time);
    var payBackText = "";

    if(payBack <= 1) {
      payBackText = "less than an day";
    }
    else if (payBack > 1 && payBack < 2) {
      payBackText = "just over a day";
    } else {
      payBackText = "just over " + Math.floor(payBack) + " days";
    }

    $('strong.totalTime').text(totalTime + " hours");
    $('strong.totalDollar').text("£" + totalTime * dollar * chef);
    $('strong.payBack').text(payBackText);
    $('strong.totalTimeChef').text(totalTime * chef + " hours");
  });
</script>

<script> 
$(window).resize(function(){
   console.log('resize called');
   var width = $(window).width();
   if(width >= 1 && width <= 768){
       $('#feature-col-one').removeClass('col-sm-6').addClass('col-sm-7');
       $('#feature-col-two').removeClass('col-sm-6').addClass('col-sm-7');
       $('#feature-col-three').removeClass('col-sm-6').addClass('col-sm-7');

       $('#group-title-one').removeClass('col-sm-4').addClass('col-sm-3');
       $('#group-title-two').removeClass('col-sm-4').addClass('col-sm-3');
       $('#group-title-three').removeClass('col-sm-4').addClass('col-sm-3');
   }
   else{
       $('#feature-col-one').removeClass('col-sm-7').addClass('col-sm-6');
       $('#feature-col-two').removeClass('col-sm-7').addClass('col-sm-6');
       $('#feature-col-three').removeClass('col-sm-7').addClass('col-sm-6');

       $('#group-title-one').removeClass('col-sm-3').addClass('col-sm-4');
       $('#group-title-two').removeClass('col-sm-3').addClass('col-sm-4');
       $('#group-title-three').removeClass('col-sm-3').addClass('col-sm-4');
   }
})
.resize();//trigger the resize event on page load.
</script>


