<div class="row">
<div class="hero-container" id="your-element">
    <div class="col-md-5">
        <div class="cta">
            <h1>No more paperwork.</h1>
            <h2>Minibarra is a revolutionary new tool for managing your kitchens temperature and task records.</h2>
            <div class="btn-container">
                
                <!-- <a class="btn btn-secondary btn-large" href="/pricing" role="button">Pricing</a> -->
                <a class="btn btn-primary btn-large" href="/users/sign_up" role="button">Pricing & Plans</a>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="responsive-image">

            <div class="image-wrap" id="wrapper">
                <%= image_tag('/images/Minibarra-Chef-iPad-Mockup-Christmas-1.png') %>
                
            </div>
        </div>

    </div>
</div>
</div>
<div class="row sep-gray">
    <div class="minibarra-usp">
        <h1>Take control of your kitchen.</h1>
        <h4>Easily manage your kitchens temperature and check records.</h4>
        
        <div class="minibarra-benefits">
            <div class="col-md-4">
                <%= image_tag('/images/faster.png') %>
                <h4>Focus on the food.</h4>
                <p>Take records from any phone, tablet, or PC. </p>
            </div>
            <div class="col-md-4">
                <%= image_tag('/images/cloud-computing.png') %>
                <h4>Never loose your paperwork.</h4>
                <p>Minibarra stores your records in the cloud. It's backed-up, secure, and reliable.</p>
            </div>
            <div class="col-md-4">
                <%= image_tag('/images/earth.png') %>
                <h4>Access your reconds from anywhere.</h4>
                <p>Keep track of your kitchen from home, holiday, or your day off.</p>
            </div>
        </div>
    </div>
</div>

<div class="row sep-white">
    <div class="col-md-12 invite">
        <h1>Let's get started.</h1>
        <div class="col-md-6 col-md-offset-3">
            <h4>Minibarra is the simplest way to manage your kitchens tasks and checks. You can use it on any smartphone, tablet, or PC.</h4>
        </div>

        <div class="btn-container col-md-12">
            <a class="btn btn-primary btn-large" href="/users/sign_up" role="button">Get Your Invitation</a>
            <br>
            <p class="btn-pricing"><a href="/pricing">Pricing & Plans</a></p>
        </div>

        <div class="col-md-12">
            <%= image_tag('/images/Minibarra-Chef-Macbook-Mockup.png') %>

        </div>
    </div>
    
</div>

<div class="row sep-dark">
    <div class="minibarra-team">
        <h1>Built by chefs and geeks.</h1>
        <p>// Hello world, Hello Minibarra</p>
        <h4>Minibarra was founded by 2 former chefs, and a former commis waiter. We live and breath hospitality.</h4>
        
        <div class="btn-container">
            <a class="btn btn-secondary btn-large" href="/team" role="button">Meet the team</a>
        </div>
    </div>
</div>

</div>

<script>
    $('#your-element').particleground({
    dotColor: '#ff5f5e',
    lineColor: '#ff5f5e',

});
</script>