<div class="row">
<div class="hero-container" id="your-element">
    <div class="row">
        <div class="col-md-12">
            <div class="cta">
                <h1><%= t "pages.home.pane1.hero" %></h1>
                <h2><%= t "pages.home.pane1.subtitle" %></h2>
                <div class="btn-container">
                    
                    <!-- <a class="btn btn-secondary btn-large" href="/pricing" role="button">Pricing</a> -->
                    <a class="btn btn-primary btn-large" href="/pricing" role="button"><%= t "pages.home.pane1.primary-btn" %></a>
                    <a class="btn btn-secondary btn-large" href="/features" role="button"><!-- <i class="fa fa-play-circle"></i> --> <%= t "pages.home.pane1.secondary-btn" %></a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="hero-img-container">
                    <!-- Macbook + iPhone img. Displayed at >768px width -->
                    <%= image_tag('/images/Minibarra_Ticks_iPhone+MacbBook(small).png') %>
                </div>
                <div class="tablet-hero-img">
                    <!-- iPhone img. Hidden at >768px width; displayed between 730-768px width; display: none at <730px width. -->
                    <%= image_tag('/images/Minibarra-iPhone-7.png') %>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row sep-gray">
    <div class="minibarra-usp">
        <h1><%= t "pages.home.pane2.title" %></h1>
        <h4><%= t "pages.home.pane2.subtitle" %></h4>
        
        <div class="minibarra-benefits">
            <div class="col-sm-4">
                <%= image_tag('/images/faster.png') %>
                <h4><%= t "pages.home.pane2.left.header" %></h4>
                <p><%= t "pages.home.pane2.left.body" %></p>
            </div>
            <div class="col-sm-4">
                <%= image_tag('/images/cloud-computing.png') %>
                <h4><%= t "pages.home.pane2.middle.header" %></h4>
                <p><%= t "pages.home.pane2.middle.body" %></p>
            </div>
            <div class="col-sm-4">
                <%= image_tag('/images/earth.png') %>
                <h4><%= t "pages.home.pane2.right.header" %></h4>
                <p><%= t "pages.home.pane2.right.body" %></p>
            </div>
        </div>
    </div>
</div>

<div class="row sep-white">
    <div class="col-md-12 invite">
        <h1><%= t "pages.home.pane3.title" %></h1>
        <div class="col-md-6 col-md-offset-3">
            <h4><%= t "pages.home.pane3.subtitle" %></h4>
        </div>

        <div class="btn-container col-md-12">
            <a class="btn btn-primary btn-large" href="/pricing" role="button"><%= t "pages.home.pane3.primary-btn" %></a>
            <br>
            <p class="btn-pricing"><a href="/features"><%= t "pages.home.pane3.link" %></a></p>
        </div>
<!-- WISTIA VIDEO -->
<!--         <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="img-container"><script src="//fast.wistia.com/embed/medias/ppoghuwqy3.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_ppoghuwqy3 popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div></div>
            </div>
        </div> -->
    </div>
    
</div>

<div class="row sep-dark">
    <div class="minibarra-team">
        <h1><%= t "pages.home.pane4.title" %></h1>
        <p>// <%= t "pages.home.pane4.subtitle" %></p>
        <h4><%= t "pages.home.pane4.body" %></h4>
        
        <div class="btn-container">
            <a class="btn btn-secondary btn-large" href="/team" role="button"><%= t "pages.home.pane4.secondary-btn" %></a>
        </div>
    </div>
</div>

