<div class="row sep-gray">
	<div class="col-md-12">
		<div class="minibarra-usp team">
			<h1><%= t "pages.team.title" %></h1>
			<h4><%= t "pages.team.subtitle" %></h4>
			<p><%= t "pages.team.text" %></p>
		</div>
	</div>

	<div class="team-container">
		<div class="col-sm-3">
			<div class="team-member">
				<img src="./images/Tom-Meehan.jpg" alt="">
				<h4>Tom Meehan</h4>
				<h6><%= t "pages.team.meehan.job_title" %></h6>
				<div class="bio">
          <p><%= t "pages.team.meehan.bio" %></p>
        </div>
					<div class="team-social-icons">
       			<a class="fa fa-twitter-square" href="http://www.twitter.com/@ThisIsMeehan">  </a>
        		<a class="fa fa-envelope" href="mailto:tom.meehan@minibarra.com">  </a>
        		<a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/tomeehan">  </a>
          </div>
			</div>	
		</div>
		<div class="col-sm-3">
			<div class="team-member">
				<img src="./images/Tom-Simkins.jpg" alt="">
				<h4>Tom Simkins</h4>
				<h6><%= t "pages.team.simkins.job_title" %></h6>
				<div class="bio">
          <p><%= t "pages.team.simkins.bio" %></p>
        </div>
					<div class="team-social-icons">
       			<a class="fa fa-twitter-square" href="https://twitter.com/tomsimkins2">  </a>
        		<a class="fa fa-envelope" href="mailto:tom.simkins@minibarra.com">  </a>
        		<a class="fa fa-linkedin-square" href="https://uk.linkedin.com/in/thomas-simkins-971277106">  </a>
          </div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="team-member">
				<img src="./images/Zak-Rebihi.jpg" alt="">
				<h4>Zak Rebihi</h4>
				<h6><%= t "pages.team.zak.job_title" %></h6>
				<div class="bio">
          <p><%= t "pages.team.zak.bio" %></p>
        </div>
					<div class="team-social-icons">
       			<a class="fa fa-twitter-square" href="https://twitter.com/ZakRebihi">  </a>
        		<a class="fa fa-envelope" href="mailto:zak.rebihi@minibarra.com">  </a>
        		<a class="fa fa-linkedin-square" href="https://uk.linkedin.com/in/zak-rebihi-6a66b1107">  </a>
          </div>		
			</div>	
		</div>
		<div class="col-sm-3">
			<div class="team-member">
				<img src="./images/Olivia-Woolaway.jpg" alt="">

				<h4>Olivia Woolaway</h4>
				<h6><%= t "pages.team.olivia.job_title" %></h6>
				<div class="bio">
          <p><%= t "pages.team.olivia.bio" %></p>
        </div>
					<div class="team-social-icons">
       			<a class="fa fa-twitter-square" href="http://twitter.com/Minibarra">  </a>
        		<a class="fa fa-envelope" href="mailto:olivia.woolaway@minibarra.com">  </a>
        		<a class="fa fa-linkedin-square" href="https://www.linkedin.com/company/minibarra">  </a>
          </div>	
			</div>
		</div>
	</div>
</div>