<div class="blue-background">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="xdp-logo-container">
				<div class="minibarra-logo">
					<p>
						<span>minibarra</span>
					</p>
				</div>
				<div class="xdp-logo">
					<p>
						<span>Experience</span><br>
						<span>Design</span><br>
						<span>Program</span>
					</p>
				</div>
			</div>
			
		</div>
	</div>
	<div class="container">
		<div class="col-md-6 col-md-offset-3 well signin">
		  <h4>Become a Maker</h4>

		  <%= simple_form_for @maker, validate: true do |f| %>

	  			<div class="first-name">
	          		<%= f.input :first_name, required: true, autofocus: true, label: false , :class => "input-lg", placeholder: "First name" %>
	        	</div>

		        <div class="last-name">
		         	<%= f.input :last_name, required: true, label: false, placeholder: "Last name (required)" %>
		        </div>

		        <%= f.input :email, required: true, label: false, placeholder: "Email (required)" %>

		    	<%= f.button :submit, "Get started", class: 'btn-primary btn-block btn-lg' %>
		  <% end %>
			
		  <%= flash_messages layout_flash: false %>

		</div>
			<div class="col-md-4 col-md-offset-4 well signin">
				<h4>What is this?</h4>
				<p>The Experience Design Program is how we choose what to work on next.</p>
				<hr>
				<h4>What are the benefits?</h4>
				<p>Members have a real impact on the direction of the product. As a bonus, all members get a 50% discount on Minibarra, provided you let Minibarra engineers visit you at work at least once a year.</p>
	</div>
	</div>

</div>	