
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @maker.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @maker.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @maker.email %>
</p>

<%= link_to 'Edit', edit_maker_path(@maker) %> |
<%= link_to 'Back', makers_path %>
