<!DOCTYPE html>
<html>
  <head>
    <title>Minibarra Chef</title>
    <%= csrf_meta_tags %>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <link rel="apple-touch-icon" href="http://www.minibarra.com/wp-content/uploads/2016/12/Minibarra-Chef-iOS-App-Icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    
	



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery', 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Pacifico" rel="stylesheet">
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </head>
  <body>
  	<div id="outer-wrap">
  		

		<nav class="navbar navbar-default <%= 'navbar-signed-in' if user_signed_in? %>">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      	<%= link_to root_path do %>
			<p class="navbar-brand"><span style="font-family: 'Pacifico', sans-serif; font-size: 150%;">minibarra</span> | Chef</p>
		<% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<% if user_signed_in? %>

							<li class="<%= 'active-nav' if params[:stage] == "Morning" || params[:stage] == "Afternoon" ||params[:stage] == "Evening" %>"><%= link_to "Today", '/ticks?stage=Morning' %></li>


							<li class="<%= 'active-nav' if params[:active] == "false" %>"><%= link_to "Reports", ticks_path(:active => "false") %></li>



							<li class="<%= 'active-nav' if current_page?(tasks_path) %>"><%= link_to "Tasks", tasks_path %></li>
							<li>
								<%= link_to edit_user_registration_path, class: "btn btn-default" do %>
    								<i class="glyphicon glyphicon-user"></i>
								<% end %>
							</li>	
						<% else %>
							<li ><a href="/pricing">Pricing</a></li>
							<li><%= link_to "Log in", new_user_session_path %></li>
							<li></li>
							<li>
								<p class="navbar-btn ">
                    				<a class="btn btn-default nav-btn" href="/users/sign_up" role="button" style="color: white;">Request an Invite</a>
                				</p>
							</li>
						<% end %>
					</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<script>
	$(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') ) {
        $(this).collapse('hide');
    }
});
</script>




	<% 
=begin %>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		<%# LOCAL NOTIFICATION %>
    <% 
=end %>

    <%= yield %>

<% if user_signed_in? %>

<%= render "layouts/mobile-nav.html.erb" %>
<% else %>
<%= render "pages/footer.html.erb" %>
<% end %>


  </body>
</html>
