<!DOCTYPE html>
<html>
  <head>
    <title>Minibarra Chef</title>
    <%= csrf_meta_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <link rel="apple-touch-icon" href="http://www.minibarra.com/wp-content/uploads/2016/12/Minibarra-Chef-iOS-App-Icon.png">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Pacifico" rel="stylesheet">
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

  </head>

	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to root_path do %>
					<p class="navbar-brand"><span style="font-family: 'Pacifico', sans-serif; font-size: 150%;">minibarra</span> | Chef</p>
				<% end %>
			</div>


			<ul class="nav navbar-nav">		

			</ul>

			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><%= link_to "Today", '/ticks?stage=Morning' %></li>
					<li><%= link_to "Reports", ticks_path(:active => "false") %></li>
					<li><%= link_to "Tasks", tasks_path %></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="http://www.minibarra.com/wp-content/uploads/2016/11/chef.png" alt=""> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
							<li><%= link_to 'Staff', staffs_path %></li>
							<li role="separator" class="divider"></li>
							<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
				<% else %>
					<li><%= link_to "Log in", new_user_session_path %></li>
					<li><%= link_to "Sign up", new_user_registration_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
	

  <body>
 </p>




<div class="container">
	
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>

<div class="row">
	<div class="col-sm-12">
		<footer>
			<div class="footer-logo">
				<p>Prepared by your pals at <a href="#">minibarra</a></p>

			</div>
		</footer>
	</div>	
</div>
</div>    
  </body>
</html>
